<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="SQLiteConnection"
             connectionString="Data Source=Database\TFitness.db;Version=3;"
             providerName="Microsoft.Data.SQLite" />
	</connectionStrings>
</configuration>